<div id="profile" class="container site-section">
    <div id="profile-nav-target" class="nav-target"></div>
    <h1 class="section-title">Profile</h1>
    <h2 class="section-subtitle">Real-world experience.&nbsp;&nbsp;Innovative problem solving.&nbsp;&nbsp;Driven to succeed.</h2>
    <hr class="mt-4 mb-4 d-inline-block mx-auto w-100">
    <div class="row">
        <div class="col-lg-4">
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light mx-auto mdb-color darken-2" style="max-width: 320px;" mdbWavesEffect>
                <img class="img-fluid" src="assets/img/davis-deruiter.png" alt="Davis DeRuiter profile picture">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <div class="col-lg-5 col-md-8">
            <h4 class="mb-3">
                <mdb-icon fas icon="user" class="pr-2"></mdb-icon>
                <strong>About me</strong>
            </h4>
            <p>
                Hey, I'm Davis.
                Since I wrote my first Hello World program back in high school, I've been in love with the field of computer science.
                For around 5 yrs out of college, I worked for L3Harris Technologies, one of the largest government defense contracters on the Agile PLM team, and currently, I work remotely for Amazon on the AFT Identity team.
            </p>
            <p>
                My present work focuses on establishing a secure, reusable, and reliable way of authenticating and authorizing Amazon workers in fulfillment centers, but I'm always open to a new challenge.
                If you are looking for a creative individual who never gives up and strives for excellence, then look no further.
            </p>
        </div>
        <div class="col-lg-3 col-md-4">
            <strong>Name</strong>
            <p>Davis N. DeRuiter</p>
            <strong>Location</strong> 
            <p>Florida, U.S.</p>
            <strong>Email</strong>
            <p>davisderuiter@gmail.com</p>
        </div>
    </div>
</div>