<div id="education" class="container site-section">
    <div id="education-nav-target" class="nav-target"></div>
    <h1 class="section-title">Education</h1>
    <h2 class="section-subtitle">"An investment in knowledge pays the best interest." - Benjamin Franklin</h2>
    <hr class="mt-4 mb-4 d-inline-block mx-auto w-100">
    <div class="pl-1 pr-1">
        <div class="row">
            <div class="col">
                <div class="mdb-color darken-2 z-depth-2 p-3 tdesc">
                    <h5>B.S. in Computer Science<span> @ Liberty University</span></h5>
                    <h6 class="mb-4">Aug 2013 - May 2017 | <span>GPA: 3.93</span></h6>
                    <ul class="ul-top-level">
                        <li>Graduated summa cum laude</li>
                        <li>C.S. Outstanding Student Award</li>
                        <li>Dean's List (x8)</li>
                        <li>Tau Sigma Academic Honor Society</li>
                        <li>Kappa Mu Epsilon Math Honor Society</li>
                        <li>IEEE</li>
                        <li>Cyber Defense Club</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 tline">
                <div class="vertical-panel-line"></div>
                <div class="diamond-shape"></div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-lg-1 tline">
                <div class="vertical-panel-line"></div>
                <div class="diamond-shape"></div>
            </div>
            <div class="col">
                <div class="mdb-color darken-2 z-depth-2 p-3 tdesc">
                    <h5>Dual Enrollment <span>@ Eastern Florida State College</span></h5>
                    <h6 class="mb-4">Aug 2011 - May 2012 | <span>GPA: 4.0</span></h6>
                    <ul class="ul-top-level">
                        <li>President’s List</li>
                        <li>Phi Theta Kappa Honor Society</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mdb-color darken-2 z-depth-2 p-3 tdesc">
                    <h5>High School Diploma <span>@ Allendale Academy</span></h5>
                    <h6 class="mb-4">Aug 2009 - May 2013 | <span>GPA: 4.0</span></h6>
                    <ul class="ul-top-level">
                        <li>Florida Bright Futures Academic Scholar</li>
                        <li>AP Computer Science (Exam score 5/5) </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1 tline">
                <div class="vertical-panel-line"></div>
                <div class="diamond-shape"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>