<div id="projects" class="container site-section">
    <div id="projects-nav-target" class="nav-target"></div>
    <h1 class="section-title">Projects</h1>
    <h2 class="section-subtitle">"You can do anything you set your mind to." - Benjamin Franklin</h2>
    <hr class="mt-4 mb-4 d-inline-block mx-auto w-100">
    <div class="row position-relative">
        <div id="project-caption-right" class="project-caption z-depth-2 p-3">
            <h3 class="">C&C Web App (2017)</h3>
            <h4 class="">This project aides law enforcement during an active shooter event.</h4>
        </div>
        <div class="col-lg-8">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="assets/img/cc-0.png" alt="C&C - Mission Overview">
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="assets/img/cc-1.png" alt="C&C - Help">
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="assets/img/cc-2.png" alt="C&C - Mission Logs">
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
        <!-- <div class="col-lg-4"> -->
            <!-- <div id="project-caption-right" class="project-caption z-depth-2 p-3">
                <h3 class="">C&C Web Application</h3>
                <h4 class="">This project aides law enforcement during an active shooter event.</h4>
            </div> -->
            <!-- <p>
                The C&C web application aides law enforcement during an active shooter event.
            </p>
            <p>
                The back-end for the project is written in Java using the Spring MVC framework.
                Pages are rendered using JavaServer Pages (JSP).
                The database for the application is MySQL and data is requested from the database using the JDBC API.
                Queries are written using SQL.
            </p>
            <p>
                The front-end code utilizes Javascript and jQuery to dynamically manipulate the DOM.
                Data is requested from the front-end using AJAX, which submits asynchronous requests to a custom built API that pulls data from the database.
                After a successful request, the data is presented using a combination of Bootstrap and custom CSS.
            </p> -->
        <!-- </div> -->
    </div>
    <div class="row position-relative">
        <div id="project-caption-left" class="project-caption z-depth-2 p-3">
            <h3 class="">QMBES Desktop App (2016)</h3>
            <h4 class="">This project minimizes mathematical Boolean expressions using the Quine McCluskey algorithm.</h4>
        </div>
        <!-- <div class="col-lg-4 order-lg-0 order-sm-1 order-xs-1">
            <div id="project-caption-left" class="project-caption z-depth-2 p-3">
                <h3 class="">QMBES Desktop Application</h3>
                <h4 class="">This project minimizes mathematical Boolean expressions using the Quine McCluskey algorithm.</h4>
            </div> -->
            <!-- <p>
                This project is an implementation in Java of the mathematical Quine McCluskey algorithm for minimizing Boolean expressions.
            </p>
            <p>
                Also, it implements Petrick’s method for deducing all minimum sum-of-products solutions from a prime implicant chart after using the Quine McCluskey method to form a prime implicant chart.
            </p>
            <p>
                The front-end was developed with JavaFX (the latest GUI library for Java) using Gluon's Scene Builder application for the basics.
            </p> -->
        <!-- </div> -->
        <div class="offset-lg-4 col-lg-8 order-lg-1 order-sm-0 order-xs-0">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="assets/img/qmbes-0.png" alt="QMBES - Home">
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="assets/img/qmbes-1.png" alt="QMBES - Minterm Tables">
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="assets/img/qmbes-2.png" alt="QMBES - Prime Implicants Chart">
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="view w-100">
                        <img class="d-block w-100" src="assets/img/qmbes-3.png" alt="QMBES - About">
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
    </div>
</div>