<div id="social-links-container">
    <ul>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="https://github.com/dderuiter">
                <mdb-icon fab icon="github"></mdb-icon>
            </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="https://linkedin.com/in/davisderuiter/">
                <mdb-icon fab icon="linkedin"></mdb-icon>
            </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="https://facebook.com/davisderuiter">
                <mdb-icon fab icon="facebook"></mdb-icon>
            </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="https://twitter.com/davisderuiter">
                <mdb-icon fab icon="twitter"></mdb-icon>
            </a>
        </li>
    </ul>
    <div class="vertical-panel-line"></div>
</div>