// $accent-color: rgb(100, 255, 218);
// $accent-color: rgb(239, 255, 100);
$accent-color: #f7f45f;

// $background-color: #1c2a48;
$background-color: #0a192f;
$background-color-alt: #1c2a48;
// $background-color-alt: #0a192f;
$background-hover-color: #223357;

$title-color: rgb(204, 214, 246);
$subtitle-color: rgb(136, 146, 176);