<footer class="page-footer font-small mdb-color darken-4">
    <div id="social-links-container" class="container d-none">
        <div class="row">
            <div class="col-md-12">
                <div class="flex-center">
                    <a href="https://github.com/dderuiter">
                        <mdb-icon fab size="2x" icon="github"></mdb-icon>
                    </a>
                    <a href="https://linkedin.com/in/davisderuiter/">
                        <mdb-icon fab size="2x" icon="linkedin"></mdb-icon>
                    </a>
                    <a href="https://facebook.com/davisderuiter">
                        <mdb-icon fab size="2x" icon="facebook"></mdb-icon>
                    </a>
                    <a href="https://twitter.com/davisderuiter">
                        <mdb-icon fab size="2x" icon="twitter"></mdb-icon>
                    </a>
                    <a href="davisderuiter@gmail.com">
                        <mdb-icon far size="2x" icon="envelope"></mdb-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="davisderuiter.com"> davisderuiter.com</a>
    </div>
</footer>